.search{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  flex-direction: column;
  padding: 8px 8px 8px 2px;
  margin: 10px;   
}
img{
  display: flex;
  width: 80px;
  margin: 10px 5px ; 
  padding: 1px 20px 1px 1px;
}

.tarjetas{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70%;
  background-color: #9147FF;
  box-shadow: 5px 5px 5px 5px #B5B2AC;
  padding: 8px 8px 8px;
  margin: 40px; 
}

.search-box{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

